.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table {
  border: 2px solid black;
  width: 700px;
  height: 200px;
  border-collapse: collapse;
}

th {
  border-bottom: 2px solid black;
  padding: 1rem;
  background-color: #303030;
  color: #fff;
}

td {
  text-align: center;
}

tr:nth-child(2n) {
  background-color: #d0d0d0;
}
